<header class="abs">

    <div class="top-bar">
        <div class="container">
            <div class="con-links">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+91)9878920494</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> Rsrs4632815@gmail.com</li>
                </ul>
            </div><!--con-links end-->
            <div class="social-links">
                <ul class="social-lnks">
                    <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div><!--socail-links end-->
        </div>
    </div><!--top-bar end-->

    <div class="bottom-header">
        <div class="container">
            <div class="hd">
                <div class="logo">
                    <a href="#" title="">
                        <img src="images/logo.png" alt="" />
                    </a>
                </div><!--logo end-->
                <div class="menu-search">
                    <nav>
                        <ul>
                            <li class="active menu-item-has-children"><a href="/" title=""><i
                                        class="fa fa-joomla"></i>Home</a>

                            </li>

                            <li><a href="about" title="">About Us</a></li>
                            <li><a href="term" title="">term & condition </a></li>
                            <li><a href="contact" title="">Contact Us</a></li>
                        </ul>
                    </nav><!--nav end-->

                </div><!--menu-search end-->
                <div class="menu-icon">
                    <span class="first-bar"></span>
                    <span class="second-bar"></span>
                    <span class="third-bar"></span>
                </div>
            </div>
        </div>
    </div><!--bottom-header end-->
</header><!--Header end-->