<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
	<body>
		<div class="wrapper">
			<%- include('../partials/header') %>
				<div class="about-bg">
					<div class="container">
						<div class="rl-banner"></br>
							<h2 class="tp">About us</h2>
							<ul></br>
								<li><a href="#">Home</a></li>
								<li><span class="active">About Us</span></li>
							</ul>
						</div>
					</div>
				</div>

				<section>
					<div class="pd90">
						<div class="container">
							<div class="row">
								<div class="col-md-7">
									<div class="relax-history">
										<h3>Relax Hotel - Since 1993</h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
											nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
											wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
											lobortis nisl ut aliquip .</p>
										<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
											doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit
											amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
											ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
										</p>
										<ul>
											<li>
												<h5>200</h5>
												<span>Rooms</span>
											</li>
											<li>
												<h5>75</h5>
												<span>Staffs</span>
											</li>
											<li>
												<h5>8</h5>
												<span>Pools</span>
											</li>
											<li>
												<h5>5</h5>
												<span>Restaurant</span>
											</li>
										</ul>
									</div><!--relax-history end-->
								</div>
								<div class="col-md-5">
									<div class="history-carousel">
										<div class="history-img">
											<img src="http://creativethemes.us/relax/images/resources/history1.jpg"
												alt="">
										</div><!--history-img end-->
										<div class="history-img">
											<img src="http://creativethemes.us/relax/images/resources/history1.jpg"
												alt="">
										</div><!--history-img end-->
									</div><!--history-carousel end-->
								</div>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="container">
						<div class="about-imgs">
							<div class="row">
								<div class="col-md-3">
									<div class="abt-img">
										<img src="http://creativethemes.us/relax/images/resources/about1.jpg" alt="">
									</div><!--abt-img end-->
								</div>
								<div class="col-md-3">
									<div class="abt-img">
										<img src="http://creativethemes.us/relax/images/resources/about2.jpg" alt="">
									</div><!--abt-img end-->
								</div>
								<div class="col-md-3">
									<div class="abt-img">
										<img src="http://creativethemes.us/relax/images/resources/about3.jpg" alt="">
									</div><!--abt-img end-->
								</div>
								<div class="col-md-3">
									<div class="abt-img">
										<img src="http://creativethemes.us/relax/images/resources/about4.jpg" alt="">
									</div><!--abt-img end-->
								</div>
							</div>
						</div><!--about-imgs end-->
						<div class="abt-links">
							<div class="row no-gutter">
								<div class="col-md-6">
									<ul>
										<li>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
										</li>
										<li>
											<p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
										</li>
										<li>
											<p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
										</li>
										<li>
											<p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul>
										<li>
											<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
										</li>
										<li>
											<p>Duis autem vel eum iriure dolor in hendrerit</p>
										</li>
										<li>
											<p>Blandit praesent luptatum zzril delenit te feugait nulla facilisi.</p>
										</li>
										<li>
											<p>Nam liber tempor cum soluta nobis eleifend possim assum</p>
										</li>
									</ul>
								</div>
							</div>
						</div><!--abt-links end-->
					</div>
				</section>

				<!-- footer -->
				<%- include('../partials/footer') %>
		</div><!--wrapper end-->

		<!-- Including Jquery Js File -->
		<script type="text/javascript" src="http://creativethemes.us/relax/js/jquery.min.js"></script>
		<!-- Including Bootstrap js file -->
		<script type="text/javascript" src="http://creativethemes.us/relax/js/bootstrap.min.js"></script>
		<!-- Custom Js file -->
		<script type="text/javascript" src="http://creativethemes.us/relax/js/script.js"></script>

	</body>

	<!-- Mirrored from creativethemes.us/relax/reservation.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Sep 2017 15:23:47 GMT -->
</html>