<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>
	<body>
		<div class="wrapper">
			<!-- header -->
			<%- include('../partials/header') %>
			
				<section id="home" class="home-bg">
					<div class="block remove-btm-gap">
						<div class="container">
							<div class="row">
								<div class="col-md-12" style="margin-bottom: 35px;">
									<div class="home-detial">
										<div class="home-banner">
											<div class="block">

												<div class="greeting">
													<h3>Special Fares to</h3>
												</div>
												<div class="greeting2">
													<h2>Relax Hostel</h2>
												</div>
												<div class="service-block">
													<i class="fa fa-wifi"></i>
													<div>
														<h5>Free WI-FI</h5>
														<span>in Whole hostel</span>
													</div>
												</div>
												<div class="service-block">
													<i class="fa fa-television"></i>
													<div>
														<h5>Cable TV</h5>
														<span>Free Cable TV</span>
													</div>
												</div>
												<div class="service-block">
													<i class="fa fa-coffee"></i>
													<div>
														<h5>Resturant</h5>
														<span>Bar & Resturant</span>
													</div>
												</div>
											</div>
										</div>
										<div class="room-finding">
											<div class="find-room">
												<div class="search-room">
													<h3>Search A Room</h3>


													<form action='/search' method='get'>
														<div>
															<label>
																<select name='type'>
																	<option>Select Room Type</option>
																	<option value='Single Room'>Single</option>
																	<option value='Double Room'>Double</option>
																	<option value='First Room'>First class</option>
																</select>
																<i class="fa fa-building-o"></i>
															</label>
														</div>
														<div>
															<label>
																<select name='adult'>
																	<option>Adults</option>
																	<option value='1'>1</option>
																	<option value='2'>2</option>
																	<option value='3'>3</option>
																</select>
																<i class="fa fa-angle-down"></i>
															</label>
														</div>
														<div>
															<label>
																<select name='child'>
																	<option>Child</option>
																	<option value='1'>1</option>
																	<option value='2'>2</option>
																	<option value='3'>3</option>
																</select>
																<i class="fa fa-angle-down	"></i>
															</label>
														</div>
												</div>
												<div class="other-options" style="background: #B78F63;">
													<input type="submit" name='search' class="searching" style="background: black;"
														value="Search Now" />
												</div>
												</form>


												
											</div><!--find-room end-->
										</div><!--room-finding end-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="block">
						<div class="container">
							<div class="row">
								<div class="col-md-4">
									<div class="about-us">
										<div class="title">
											<h3>About Relax Hostel</h3>
										</div><!--title end-->
										<h5><a href="about.html" title="">Discover what makes us a five star hostel</a>
										</h5>
										<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
											auctor
											aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi.</p>
										<ul class="ab-links">
											<li><i class="fa fa-user-secret"></i>Dedicated Team</li>
											<li><i class="fa fa-user"></i>Best Advisors</li>
											<li><i class="fa fa-history"></i>24/7 Supports</li>
										</ul>
									</div><!--about-us end-->
								</div>
								<div class="col-md-8">
									<div class="fav-areas">
										<div class="title f2">
											<h3>Our Favorite Rooms</h3>
										</div><!--title end-->
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
											magna
											aliquam erat volutpat. Ut wisi enim ad minim</p>
										<div class="row">
											<div class="col-md-4">
												<div class="fav-room">
													<img src="images/resources/fav-room1.jpg" alt="">
													<div class="fav-rm-data">
														<h3><a href="#" title=""> Single Room</a></h3>
													</div>
												</div><!--fav-room end-->
											</div>
											<div class="col-md-4">
												<div class="fav-room">
													<img src="images/resources/fav-room2.jpg" alt="">
													<div class="fav-rm-data">
														<h3><a href="#" title="">Double Room</a></h3>

													</div>
												</div><!--fav-room end-->
											</div>
											<div class="col-md-4">
												<div class="fav-room">
													<img src="images/resources/fav-room3.jpg" alt="">
													<div class="fav-rm-data">
														<h3><a href="#" title="">First Class Room</a></h3>

													</div>
												</div><!--fav-room end-->
											</div>
										</div>
									</div><!--fav areas end-->
								</div>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="pd2 bg bg1 overlay">
						<div class="container">
							<div class="row">
								<div class="col-md-7">
									<div class="ft-img thumb-carousel" data-slider-id="1">
										<div>
											<figure>
												<img src="images/resources/ft-img3.jpg" alt="">
											</figure>
										</div>
										<div>
											<figure>
												<img src="images/resources/ft-img4.jpg" alt="">
											</figure>
										</div>
										<div>
											<figure>
												<img src="images/resources/ft-img.jpg" alt="">
											</figure>
										</div>
										<div>
											<figure>
												<img src="images/resources/ft-img2.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="our-services">
										<div class="title f2">
											<h3>Our Awesome Services</h3>
										</div><!--title end-->
										<div class="service-thumbs owl-thumbs" data-slider-id="1">
											<div class="service owl-thumb-item">
												<img src="images/icon1.png" alt="">
												<h4>Restaurant</h4>
												<p>Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy .</p>
											</div><!--service end-->
											<div class="service owl-thumb-item">
												<img src="images/icon2.png" alt="">
												<h4>Spa - Beauty & Health</h4>
												<p>Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy .</p>
											</div><!--service end-->
											<div class="service owl-thumb-item">
												<img src="images/icon3.png" alt="">
												<h4>Conference Room</h4>
												<p>Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy .</p>
											</div><!--service end-->
											<div class="service owl-thumb-item">
												<img src="images/icon4.png" alt="">
												<h4>Swimming Pool</h4>
												<p>Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy .</p>
											</div><!--service end-->
										</div>
									</div><!--our-services end-->
								</div>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="block remove-btm-gap">
						<div class="container">
							<div class="row">
								<div class="col-md-2">
									<div class="title f3">
										<h3>Our Gallery</h3>
									</div>
									<div class="options">
										<div class="option-isotop">
											<ul id="filter" class="option-set filters-nav" data-option-key="filter">
												<li><a class="selected" data-option-value="*">Rooms Highligts</a></li>

											</ul>
										</div>
									</div><!-- FILTER BUTTONS -->
								</div>
								<div class="col-md-10">
									<div class="row gallery grid">
										<div class="col-md-5 col-sm-5 col-xs-5 rooms swimming">
											<div class="grid-item2 width-auto">
												<figure>
													<img src="images/resources/01.jpg" alt="">
													<figcaption>
														<h5>Bed room</h5>
														<ul>
															<li><a href="#" title=""><i
																		class="fa fa-television"></i></a>
															</li>
															<li><a href="#" title=""><i class="fa fa-wifi"></i></a></li>
															<li><a href="#" title=""><i
																		class="fa fa-video-camera"></i></a>
															</li>
														</ul>
													</figcaption>
													<div class="popup-icon">
														<a class="html5lightbox"
															data-thumbnail="images/resources/gallery1.jpg"
															data-group="set1" href="images/resources/gallery1.jpg"
															title="home 1"><i class="fa fa-compress"></i></a>
													</div>
												</figure>
											</div>
										</div>
										<div class=" col-md-2 col-sm-2 col-xs-2  kitchen">
											<div class="grid-item2 width-auto">
												<figure>
													<img src="images/resources/02.jpg" alt="">
													<figcaption>
														<h5>Bed room</h5>
														<ul>
															<li><a href="#" title=""><i
																		class="fa fa-television"></i></a>
															</li>
															<li><a href="#" title=""><i class="fa fa-wifi"></i></a></li>
															<li><a href="#" title=""><i
																		class="fa fa-video-camera"></i></a>
															</li>
														</ul>
													</figcaption>
													<div class="popup-icon">
														<a class="html5lightbox"
															data-thumbnail="images/resources/gallery2.jpg"
															data-group="set1" href="images/resources/gallery2.jpg"
															title="home 2"><i class="fa fa-compress"></i></a>
													</div>
												</figure>
											</div>
										</div>
										<div class="col-md-5 col-sm-5 col-xs-5 dinning bath">
											<div class="grid-item2 width-auto">
												<figure>
													<img src="images/resources/03.jpg" alt="">
													<figcaption>
														<h5>Bed room</h5>
														<ul>
															<li><a href="#" title=""><i
																		class="fa fa-television"></i></a>
															</li>
															<li><a href="#" title=""><i class="fa fa-wifi"></i></a></li>
															<li><a href="#" title=""><i
																		class="fa fa-video-camera"></i></a>
															</li>
														</ul>
													</figcaption>
													<div class="popup-icon">
														<a class="html5lightbox"
															data-thumbnail="images/resources/gallery3.jpg"
															data-group="set1" href="images/resources/gallery3.jpg"
															title="home 3"><i class="fa fa-compress"></i></a>
													</div>
												</figure>
											</div>
										</div>
										<div class="col-md-5  col-sm-5 col-xs-5  bath rooms">
											<div class="grid-item2 width-auto">
												<figure>
													<img src="images/resources/04.jpg" alt="">
													<figcaption>
														<h5>Bed room</h5>
														<ul>
															<li><a href="#" title=""><i
																		class="fa fa-television"></i></a>
															</li>
															<li><a href="#" title=""><i class="fa fa-wifi"></i></a></li>
															<li><a href="#" title=""><i
																		class="fa fa-video-camera"></i></a>
															</li>
														</ul>
													</figcaption>
													<div class="popup-icon">
														<a class="html5lightbox"
															data-thumbnail="images/resources/gallery4.jpg"
															data-group="set1" href="images/resources/gallery4.jpg"
															title="home 4"><i class="fa fa-compress"></i></a>
													</div>
												</figure>
											</div>
										</div>
										<div class=" col-md-7 col-sm-7 col-xs-7  swimming kitchen">
											<div class="grid-item2 width-auto">
												<figure>
													<img src="images/resources/05.jpg" alt="">
													<figcaption>
														<h5>Bed room</h5>
														<ul>
															<li><a href="#" title=""><i
																		class="fa fa-television"></i></a>
															</li>
															<li><a href="#" title=""><i class="fa fa-wifi"></i></a></li>
															<li><a href="#" title=""><i
																		class="fa fa-video-camera"></i></a>
															</li>
														</ul>
													</figcaption>
													<div class="popup-icon">
														<a class="html5lightbox"
															data-thumbnail="images/resources/gallery5.jpg"
															data-group="set1" href="images/resources/gallery5.jpg"
															title="home 5"><i class="fa fa-compress"></i></a>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="pd-btm-less">
						<div class="container">
							<div class="partners-logo">

							</div><!--partners-logo end-->
						</div>
					</div>
				</section>

				<section>
					<div class="block no-padding">
						<div class="newsletter">
							<div class="bg bg2">
								<div class="container">
									<div class="stay-tuned">
										<h2>Stay tuned with us</h2>
										<h5>Get our updated offers, discounts, events and much more!</h5>
									</div>
									<div class="email-form">
										<form>
											<input name="" placeholder="Enter your email address" type="text">
											<button type="submit">Subscribe</button>
										</form>
									</div><!--email-form end-->
								</div>
							</div>
						</div><!--newsletter end-->
					</div>
				</section>

				<!-- footer -->
				<%- include('../partials/footer') %>

		</div><!--wrapper end-->

		<!-- Including Jquery Js File -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<!-- Including Bootstrap js file -->
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="js/flatpickr.min.js"></script>
		<script type="text/javascript" src="js/isotope.js"></script>
		<script type="text/javascript" src="js/html5lightbox.js"></script>
		<script type="text/javascript" src="js/wow.js"></script>

		<!-- Custom Js file -->
		<script type="text/javascript" src="js/script.js"></script>


	</body>

</html>